{% extends 'base.html' %}
{% block content %}
    <nav class="navbar">
        <a class='navbar' href='/main/main/'>MediView</a>
        <a href='/users/logout/' class="btn btn-secondary">로그아웃</a>
    </nav>
    <div id='ask' class='post-container'>
        {% for post in posts %}
            <article class='post'>
                <header class='post-header'>
                    <span>{{ post.user.username }}</span>
                    <div class='post-title'>
                        {{ post.title|linebreaksbr }}
                    </div>
                    <div class='post-buttons'>
                        <span>Comments(0)</span>
                    </div>
                </header>
            </article>
        {% endfor %}
    </div>
{% endblock %}
