{% extends 'mainbase.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">환영합니다!</h1>
    <div class="space-y-8">
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">약끼리 체크</h2>
            <p class="text-gray-700">약끼리 체크 기능을 통해 약물 간의 상호작용 및 다양한 금기사항을 확인할 수 있습니다.</p>
            <a href="/medicine/search/" class="text-blue-500 hover:underline mt-4 inline-block">약끼리 체크 바로가기</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">약물 검색창</h2>
            <p class="text-gray-700">약물 검색창을 통해 제품명을 입력하여 다양한 약물 정보(급여여부,사용법,보관법 등)를 검색할 수 있습니다.</p>
            <a href="{% url 'search_products' %}" class="text-blue-500 hover:underline mt-4 inline-block">약물 검색창 바로가기</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">복약상담계획서</h2>
            <p class="text-gray-700">복약상담계획서를 통해 복약 상담을 계획하고 관리할 수 있습니다.</p>
            <a href="/consultation/plan/" class="text-blue-500 hover:underline mt-4 inline-block">복약상담계획서 바로가기</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">문의사항</h2>
            <p class="text-gray-700">문의사항 페이지를 통해 추가적인 질문이나 지원 요청을 할 수 있습니다.</p>
            <a href="/posts/ask/" class="text-blue-500 hover:underline mt-4 inline-block">문의사항 바로가기</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">FAQ</h2>
            <p class="text-gray-700">자주 묻는 질문(FAQ) 페이지에서 일반적인 질문과 그에 대한 답변을 찾아볼 수 있습니다.</p>
            <a href="{% url 'faq_list' %}" class="text-blue-500 hover:underline mt-4 inline-block">FAQ 바로가기</a>
        </div>
    </div>
</div>
{% endblock %}
