<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약끼리</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <style>
        body { padding-top: 64px; }
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>
<body class="bg-[#f0f4ff] dark:bg-[#0f172a]">
    <header class="fixed top-0 left-0 right-0 z-10 h-16 w-full bg-[#4f46e5] px-6 dark:bg-[#1e293b]">
        <div class="flex items-center space-x-4">
            <img src="/static/logo_white.png" alt="Logo" class="h-12 w-12 text-white">
            <h1><a class="text-xl font-bold text-white" href='/main/main/'>약끼리</a></h1>
        </div>
        <nav class="flex items-center space-x-6">
            <a class="text-sm font-medium text-white hover:underline" href="#">기능1</a>
            <a class="text-sm font-medium text-white hover:underline" href="#">기능2</a>
            <a class="text-sm font-medium text-white hover:underline" href="#">기능3</a>
            <a class="text-sm font-medium text-white hover:underline" href="/posts/ask/">문의사항</a>
        </nav>
        <div class="flex items-center space-x-2">
            <a href="/users/login/" class="bg-[#4f46e5] text-white px-4 py-2 rounded-full hover:bg-[#3730a3]">로그인</a>
            <a href="/users/signup/" class="bg-white text-[#4f46e5] px-4 py-2 rounded-full hover:bg-[#e0e7ff]">회원가입</a>
        </div>
    </header>
    <div class="flex-grow">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
