<!-- yak/templates/yak/step10.html -->

{% extends 'mainbase.html' %}

{% block content %}
<main class="mt-20 p-4">
    <h1 class="text-2xl font-bold text-gray-900 dark:text-white">복용상담계획서 - Step 10</h1>
    <p class="mt-4 text-gray-600 dark:text-gray-300">환자별 주의약물</p>
    
    <!-- 주의약물 정보 테이블 -->
    {% if warning_details %}
    <div class="mt-6">
        <h2 class="text-lg font-bold text-gray-900 dark:text-white">주의약물 정보</h2>
        <table class="min-w-full divide-y divide-gray-200 mt-4">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">제품명</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">금기유형</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">상세정보</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for detail in warning_details %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ detail.제품명 }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ detail.금기유형 }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {% if '노인주의' in detail.금기유형 %}
                        노인주의 약품상세정보: {{ detail.노인주의_약품상세정보 }}
                        {% elif '임부 주의' in detail.금기유형 %}
                        임부금기 등급: {{ detail.임부금기_금기등급 }}, 임부금기 상세정보: {{ detail.임부금기_상세정보 }}
                        {% elif '연령별 주의' in detail.금기유형 %}
                        특정연령: {{ detail.특정연령 }}{{ detail.특정연령단위 }}, 연령처리조건: {{ detail.연령처리조건 }}, 상세정보: {{ detail.상세정보 }}
                        {% else %}
                        상세정보 없음
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="mt-4 text-gray-600 dark:text-gray-300">해당 주의약물 정보를 찾을 수 없습니다.</p>
    {% endif %}
    
    <div class="mt-6">
        <a href="{% url 'step9' patient.id %}" class="bg-[#4f46e5] text-white px-4 py-2 rounded-full hover:bg-[#3730a3]">이전</a>
        <a href="{% url 'step11' patient.id %}" class="bg-[#4f46e5] text-white px-4 py-2 rounded-full hover:bg-[#3730a3]">다음</a>
    </div>
</main>
{% endblock %}
